.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    gap: 50px;

    .count{
        line-height: 2;
        margin: 10px 40px;
        text-align: center;

        h3{
            color: var(--large-orange);
            font-size: 1.5rem;
            font-weight: bolder;
        }
        p{
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
}